server:
  port: 8080

spring:
  application:
    name: api-gateway
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
  mvc:
    static-path-pattern: /static/**
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: lb://auth-service
            predicates:
              - Path=/api/auth/**
          - id: course-service
            uri: lb://course-service
            predicates:
              - Path=/api/course/**
          - id: student-interactions-service
            uri: lb://student-interactions-service
            predicates:
              - Path=/api/student-interactions/**
          - id: yandex-cloud-service
            uri: lb://yandex-cloud-service
            predicates:
              - Path=/api/cloud/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: api-gateway