server:
  port: 8082

spring:
  application:
    name: course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/course_db
    username: ${DB_USERNAME:kitoglav}
    password: ${DB_PASSWORD:admin}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: course-service
