server:
  port: 8084

spring:
  application:
    name: yandex-cloud-service
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: yandex-cloud-service
s3:
  key: ${S3_KEY}
  secret: ${S3_SECRET}
  region: ${S3_REGION}
  endpoint: ${S3_ENDPOINT}
  bucket: ${S3_BUCKET}